name: Publish package
on:
  push:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  get-var:
    runs-on: ubuntu-latest
    environment: dev
    outputs:
      URLID: ${{ steps.script.outputs.IDTOKENURL }}
      TOKENID: ${{ steps.script.outputs.TOKEN }}
    permissions:
      contents: read 
      id-token: write

    steps:
      - uses: actions/github-script@v8
        id: script
        timeout-minutes: 10
        with:
          debug: true
          script: |
            const token = process.env['ACTIONS_ID_TOKEN_REQUEST_TOKEN']
            const runtimeUrl = process.env['ACTIONS_ID_TOKEN_REQUEST_URL']
            core.setOutput('TOKEN', token.trim())
            core.setOutput('IDTOKENURL', runtimeUrl.trim())

      - name: get runtimeUrl
        run: |
          echo ${{ steps.script.outputs.IDTOKENURL }}
          echo ${{ steps.script.outputs.TOKEN }}

  publish:
    needs: get-var
    uses: not-organisation/ci-workflows/.github/workflows/publish.yaml@main
    with:
      URL: ${{needs.get-var.outputs.URLID}}
      TOKEN: ${{needs.get-var.outputs.URLID}}
    secrets:
      NPM_PUBLISH: ${{ secrets.NPM_PUBLISH }} 

  # publish:
    # runs-on: ubuntu-latest
    # environment: dev
    # permissions:
    #   contents: read
    #   id-token: write

    # steps:
    #   - name: Checkout
    #     uses: actions/checkout@v5

    #   - name: Setup Node.js
    #     uses: actions/setup-node@v6
    #     with:
    #       node-version: 24
    #       registry-url: https://registry.npmjs.org

    #   - name: NPM install
    #     run: |
    #       npm ci

    #   - name: Version
    #     if: github.event_name == 'release' && github.event.action == 'created'
    #     run: |
    #       VERSION=${{ github.event.release.tag_name }}
    #       VERSION=${VERSION:1}
    #       CURRENT_VERSION=$(npm pkg get version | tr -d '"')
    #       if [ "$CURRENT_VERSION" != "$VERSION" ]; then
    #         npm version $VERSION --no-git-tag-version
    #       else
    #         echo "Version already set to $VERSION, skipping npm version command"
    #       fi
      
    #   - uses: step-security/wait-for-secrets@v1
    #     id: wait-for-secrets
    #     with:
    #       secrets: |
    #         OTP: 
    #           name: 'OTP to publish package'
    #           description: 'OTP from authenticator app'

    #   - name: publish
    #     env:
    #       NPM_TOKEN: ${{ secrets.NPM_PUBLISH }}
    #     run: |
    #       npm publish --otp ${{ steps.wait-for-secrets.outputs.OTP }} --access public