name: Publish package
on:
  # push:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  get-var:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read 
      id-token: write

    steps:
      - uses: actions/github-script@v8
        id: script
        timeout-minutes: 10
        with:
          debug: true
          script: |
            const token = process.env['ACTIONS_ID_TOKEN_REQUEST_TOKEN']
            const runtimeUrl = process.env['ACTIONS_ID_TOKEN_REQUEST_URL']
            core.setOutput('TOKEN', token.trim())
            core.setOutput('IDTOKENURL', runtimeUrl.trim())

  publish:
    needs: get-var
    uses: not-organisation/ci-workflows/.github/workflows/publish.yaml@main
    secrets:
      NPM_PUBLISH: ${{ secrets.NPM_PUBLISH }} 
