name: Publish package
on:
  # push:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    uses: not-organisation/ci-workflows/.github/workflows/publish.yaml@main
    secrets:
      NPM_PUBLISH: ${{ secrets.NPM_PUBLISH }} 
