name: Audit PR
on:
  push:

jobs:
  publish:
    uses: not-organization/ci-workflows/.github/workflows/publish.yaml@main

  # install:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: 24
  #         registry-url: https://registry.npmjs.org
      
  #     - name: Cache node modules
  #       id: cache-npm
  #       uses: actions/cache@v4
  #       with:
  #         path: ./node_modules
  #         key: node-${{ hashFiles('./package-lock.json') }}

  #     - name: Install dependencies
  #       if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
  #       run: | 
  #         npm ci
  
  # audit:
  #   runs-on: ubuntu-latest
  #   needs: [install]
  #   permissions:
  #     contents: read

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: 24
  #         registry-url: https://registry.npmjs.org

  #     - name: Cache node modules
  #       id: cache-npm
  #       uses: actions/cache@v4
  #       with:
  #         path: ./node_modules
  #         key: node-${{ hashFiles('./package-lock.json') }}
      
  #     - name: audit
  #       run: |
  #         npm audit
    
  # test:
  #   runs-on: ubuntu-latest
  #   needs: [install]
  #   permissions:
  #     contents: read

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: 24
  #         registry-url: https://registry.npmjs.org

  #     - name: Cache node modules
  #       id: cache-npm
  #       uses: actions/cache@v4
  #       with:
  #         path: ./node_modules
  #         key: node-${{ hashFiles('./package-lock.json') }}
      
  #     - name: audit
  #       run: |
  #         npm test
    
  # lint:
  #   runs-on: ubuntu-latest
  #   needs: [install]
  #   permissions:
  #     contents: read

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version: 24
  #         registry-url: https://registry.npmjs.org

  #     - name: Cache node modules
  #       id: cache-npm
  #       uses: actions/cache@v4
  #       with:
  #         path: ./node_modules
  #         key: node-${{ hashFiles('./package-lock.json') }}
      
  #     - name: audit
  #       run: |
  #         npm run lint
